@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    <strong>Author:</strong> Imran Price<br />
    <strong>ID:</strong> 14236498<br />
    <strong>Email:</strong> reindurr7@gmail.com<br />
    <br />
    <strong>Images retrieved from:</strong><br />
    pixabay.com<br />
    freefoodphotos.com<br />
    <br />
    <strong>Code based off:</strong><br />
    ASP.NET MVC with entity framework and CSS / Lee Naylor and the course labs
</p>
<br />
<p><img src="~/Content/Images/tangerines-3105628_1920.jpg" alt="store.jpg" height="400" width="600" /></p>

