@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    <strong>Author:</strong> Imran Price<br />
    <strong>ID:</strong> 14236498<br />
    <strong>Email:</strong> reindurr7@gmail.com<br />
    <br />
    <strong>Images retrieved from:</strong><br />
    pixabay.com<br />
    freefoodphotos.com<br />
    <br />
    <strong>Code based of:</strong><br />
    ASP.NET MVC with entity framework and CSS / Lee Naylor and the course labs
</p>

