@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p>Foodmart is an online supermarket. Order online and get it delivered to your home.</p>
    <br />
    <img src="~/Content/Images/shopping-1165437_1920.jpg" alt="store.jpg" height="500" width="1000" />
    <br />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Departments</h2>
        <p>
            Foodmart online supermarket has access to many of the instore departments.
        </p>
        <p>@Html.ActionLink("view>>", "Index", "Departments")</p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>Foodmart has an extensive range of products</p>
        <p>@Html.RouteLink("view>>", "ProductsIndex")</p>
    </div>
    
</div>